.user-card {
	width: 100%;
	height: 131px;
	border: 1px dotted #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.user-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.user-more-button {
	background-color: var(--dark);
	border: none;
}
.user-more-button > a {
	font-size: 12px;
	line-height: 1rem;
	color: white;
}
.user-card-item {
	margin: 5px;
}
.user-link {
	width: 60px;
	height: 30px;
	padding: 10px;
}
