.user-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.user-page-body {
	width: 60%;
	align-self: center;
}
.user-page-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px;
}

.back-to-search-btn {
	width: 104px;
	height: 25px;
	font-size: 10px;
	color: var(--dark);
	background: var(--back-light);
	border: none;
	margin: 0px 10px;
}
.back-to-search-btn > a {
	font-size: 10px;
	color: var(--dark);
}

.user-repos {
	padding: 10px;
	color: var(--back-primary);
	font-weight: bold;
	justify-content: flex-start;
}
.user-repos > a {
	color: var(--back-primary);
}
.user-hireable {
	margin: 0px 25px;
}
